@page "/users"
@using UserData.Shared
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager nav

@if (MyUsers != null)
{
    <h1>Users</h1>


        <input type="text" @bind="TempName" />
        <button class="btn btn-primary btn-sm-ar-2" @onclick="() => Search(TempName)">Search</button>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Valid</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in MyUsers)
            {
                <tr>
                    <td>@user.Id</td>

                    <td>
                        @if (tempUser != null && tempUser == user)
                        {
                            <input type="text" @bind="@user.FirstName" />
                        }
                        else
                        {
                            @user.FirstName}
                    </td>


                    <td>
                        @if (tempUser != null && tempUser == user)
                        {
                            <input type="text" @bind="@user.LastName" />
                        }
                        else
                        {
                            @user.LastName
                        }
                    </td>


                    <td>

                        @user.Email

                    </td>

                    <td>
                        @if (user.Valid == null)
                        {
                            <p> Its null</p>
                        }
                        else
                        {
                            @user.Valid
                        }


                    </td>


                    <td>
                        @if (tempUser != null && tempUser == user)
                        {
                            <button class="btn btn-success btn-sm-ar-2" @onclick="() => UpdateUser(user)">Save</button>
                            <button class="btn btn-danger btn-sm-ar-2" @onclick="() => CancelUpdate(user)">Cancel</button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-sm-ar-2" @onclick="() => ToggleUpdate(user)">Update</button>
                            <button class="btn btn-danger btn-sm-ar-2" @onclick="() => DeleteUser(user)">Delete</button>
                            <button class="btn btn-success btn-sm-ar-2" @onclick="() => ValidateUser(user)">Validate</button>
                        }

                    </td>
                </tr>
            }

        </tbody>
    </table>
    <button class="btn btn-secondary" type="button" @onclick="Redirect">Add User</button>
}
else
{
    <h1 style="text-align:center">Loading...</h1>
}


@code {
    List<User> MyUsers = new List<User>();

    List<User> SearchedUsers = null;

    User tempUser = null;

    string TempName = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            MyUsers = await httpClient.GetFromJsonAsync<List<User>>("api/user");
        }
        catch (System.Exception e)
        {

            throw e;
        }
    }

    private async Task Search(string name)
    {
        MyUsers = await httpClient.GetFromJsonAsync<List<User>>($"api/user/search?name={name}");
    }

    //update
    private void ToggleUpdate(User user)
    {
        tempUser = user;
    }

    private async Task UpdateUser(User newUser)
    {
        await httpClient.PutAsJsonAsync("/api/user", newUser);
        MyUsers = await httpClient.GetFromJsonAsync<List<User>>("/api/user");

    }

    private async Task CancelUpdate(User newUser)
    {
        MyUsers = await httpClient.GetFromJsonAsync<List<User>>("/api/user");
    }

    //Add
    public void Redirect()
    {
        nav.NavigateTo("/AddUser");
    }

    private void Test()
        {

        }

    //Delete
    private async Task DeleteUser(User user)
    {
        await httpClient.DeleteAsync($"/api/user/{user.Id}");
        await OnInitializedAsync();
    }

    //Validate
    private async Task ValidateUser(User user)
    {
        user.Valid = (user.Email.ToLower().Contains(user.FirstName.ToLower()) && user.Email.ToLower().Contains(user.LastName.ToLower()));
        if (user.Valid == true)
        {
            await jsRuntime.InvokeVoidAsync("alert", $"The email {user.Email} contains both the name {user.FirstName} and the surname {user.LastName}.");
        }
        else
        {
            await jsRuntime.InvokeVoidAsync("alert", "Email does not contain both the name or the surname.");
        }
        await httpClient.PutAsJsonAsync($"/api/user/id", user);
    }

}